<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{% if title %}{{title}}{% else %}Joe.Blog | by Joe Hardy | Sydney, Australia{% endif %}</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | url }}">
		<meta name="title" property="og:title" content="{% if title %}{{ title|safe }}{% else %}Joe.Blog | by Joe Hardy{% endif %}" />
		<meta name="description" property="og:description" content="Joe Hardy (does stuff in tech/media/music and co-founder of SydneyMusic.net) shares writing and photography, mostly related to music, culture, community and tech." />
		<meta property="og:image" content="{% if ogImage %}{{ogImage}}{% else %}https://joe.hardy.id.au/assets/images/selfie.jpeg{% endif %}" />
		<script defer data-domain="joe.hardy.id.au" src="/js/script.js"></script>
	</head>
	<body>

		{{content | safe}}
	</body>
</html>
