---
pagination:
  data: contentful
  size: 1
  alias: page
  addAllPagesToCollections: true
permalink: "{{ page.slug | slug }}/"
layout: home.njk

eleventyComputed:
  title: "{{ page.title}}"
  ogImage: "{% if page.outrageousHeroImage != null %}{{ page.outrageousHeroImage.fields.file.url}}{% else %}{% if page.featuredImages.length > 0 %}{{ page.featuredImages[0].fields.file.url }}{% endif %}{% endif %}"

---
